@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.main-container-dashboard{
    scrollbar-width: none;
    -ms-overflow-style: none;
    @apply w-full h-full flex flex-col rounded-xl overflow-y-auto;
}

.dashboard-header{
    @apply w-full h-[150px] flex flex-row;
}

.search-container{
    @apply w-4/5 h-full rounded-xl;
}   

.searchbar{
    @apply w-full bg-green-300 h-[50px];
}

.logo-container-dashboard{
    @apply w-1/5 h-full flex justify-center items-start ;
}

.mindify-logo-dashboard{
    @apply w-[150px];
}

.header-message{
    @apply w-full h-[80px] mt-5;
}

.header-text-dashboard{
    @apply text-white font-[Poppins] font-bold text-[25px];
}

.header-greeting-dashboard{
    @apply text-white font-[Poppins] font-light italic text-[15px];
    
}






.analytics-container-dashboard{
    @apply w-full grid grid-cols-1 gap-4 place-items-center
    md:grid-cols-2
    lg:grid-cols-3
    xl:grid-cols-5;
}

.analytics-properties-dashboard{
    @apply w-full h-[200px] bg-white rounded-xl p-3;
}

.dashboard-title{
    @apply text-black;
}
.dashboard-sub-title{
    @apply text-black text-[14px];
}

.dashboard-progress-bar {
    @apply w-full rounded-full;
    appearance: none; 
    overflow: hidden; 
}
  


.analytics-percent{
    @apply w-full flex flex-row justify-between;
}




.reports-title-container-dashboard{
    @apply  w-full h-[80px] mt-4;
}

.reports-title-properties-dashboard{
    @apply text-white font-[Poppins] font-bold text-[25px];
}




.reports-content-container-dashboard{
    @apply  w-full grid grid-cols-1 gap-4 my-2
    md:grid-cols-2
    xl:grid-cols-3;
}

.total-students-container-dashboard{
    @apply w-full h-[450px] bg-white rounded-xl ;
}

.badges-container-dashboard{
    @apply w-full h-[450px] bg-white rounded-xl ;
}

.leaderboards-container-dashboard{
    @apply w-full h-[450px] bg-white rounded-xl;
}


.chart{
    @apply w-full h-full self-center bg-red-400;
}