@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@reference "tailwindcss";
@plugin "daisyui";

/*------------------------- MAIN CONTAINER --------------------------*/
.account-main-container {
  @apply p-3 flex flex-col h-full w-full bg-pink-300;
}

/*------------------------- FOR HEADER --------------------------*/
.account-header {
  @apply w-full h-[150px] p-1 bg-green-400;
}

.account-title {
  @apply text-[40px] font-[Poppins] font-bold text-black h-[50px] pl-3 mt-3;
}

.acc-sub-header-container{
  @apply w-full h-auto flex flex-row justify-evenly items-center mt-5;
}

.acc-search-bar {
 @apply w-[60%] min-w-[300px] h-[50px] bg-white flex items-center px-4 rounded-md shadow-md border-0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.acc-search-input {
  @apply rounded-lg border-none flex-1 bg-transparent focus:outline-none;

}

.acc-position-select{
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  @apply text-black font-[Poppins] h-[50px] w-[200px] text-sm bg-white border-none rounded-md;
}

.acc-branch-select{
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  @apply text-black font-[Poppins] h-[50px] w-[200px] text-sm bg-white border rounded-md;
}





.acc-export-icon{
  @apply w-8 h-8;
}

/*------------------------- USER TITLES --------------------------*/

.titles-container{
  @apply w-full flex justify-center;
}

.titles-table {
  @apply w-11/12 h-[50px] bg-blue-400 text-left table-fixed;
}

.titles-table th{
  @apply text-xl text-black;
}

.title-name-cell{
  @apply flex flex-row items-center;
}

.title-pos-cell, .title-branch-cell{
  @apply w-1/4;
}

.title-action-cell{
  @apply w-1/5;
}



/*------------------------- USER CONTENTS --------------------------*/
.users-container {
  @apply w-full flex-1 overflow-hidden overflow-y-auto flex flex-col items-center 
    transition-transform duration-500 ease-in-out bg-red-500;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}
.users-container::-webkit-scrollbar {
  width: 6px;
}

.users-container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

.users-container::-webkit-scrollbar-track {
  background: black;
}
.user-card {
  @apply w-11/12 bg-violet-500 my-2 py-3 rounded-xl px-3 
    transition-transform duration-500 ease-in-out;
  border: 1px solid black;
}
.active-user-card {
  @apply w-[95%] bg-gray-300 my-2 py-5 rounded-xl px-2 
    transition-transform duration-500 ease-in-out;
  border: 1px solid black;
}

.user-table{
  @apply w-full table-fixed;
}

.user-name-cell{
  @apply flex items-center ;
}
.mini-avatar {
  @apply w-[40px] h-[40px] rounded-full mr-2;
}

.user-branch-cell, .user-pos-cell{
    @apply w-1/4; 
}

.user-action-cell{
  @apply w-1/5;
}

.action-holder{
  @apply flex flex-row items-center;
}


.setting-icon,
.chevron-icon {
  @apply w-[35px] h-[35px] transition-transform duration-500 cursor-pointer bg-transparent;
}

.active-user-card .chevron-icon {
  @apply w-[35px] h-[35px] transition-transform duration-500 cursor-pointer rotate-180;
}

/*------------------------- FOOTER PAGINATION AND ADD USER --------------------------*/
.acc-footer {
  @apply w-full h-[100px] flex flex-col bg-amber-500;
}

.pagination-container {
  @apply w-full h-1/2 flex flex-row justify-between items-center px-5;
}

.add-user-container {
  @apply w-full h-1/2 flex justify-center items-center;
}

/* modal css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.modal-content h2 {
  margin-bottom: 0.5rem;
  @apply text-black font-[Poppins]
}

.modal .btn {
  padding: 0.5rem 1.2rem;
}

/* test */
.user-details-card {
  background-color: #f1f5f9;
  padding: 1rem 1.5rem;
  margin: 0 2rem 1rem 2rem;
  border-left: 4px solid #FFBF1A;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #333;
}

/* loading spinner */

.loading-overlay-accounts {
  @apply flex flex-col items-center justify-center pt-50;
}

.spinner {
  @apply w-14 h-14 border-4 border-[#FFBF1A]/30 border-t-[#FFBF1A] rounded-full animate-spin mb-4;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-overlay-accounts p {
  @apply text-black text-lg font-medium font-[Poppins]
}

/* loading spinner */
