@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@reference "tailwindcss";
@plugin "daisyui";

/*------------------------- MAIN CONTAINER --------------------------*/
.account-main-container {
  @apply p-3 flex flex-col h-full w-full bg-white;
}

/*------------------------- FOR HEADER --------------------------*/
.account-header {
  @apply w-full h-[150px] p-1;
}

.account-title {
  @apply text-[40px] font-[Poppins] font-bold text-[#FFD41C] h-[50px] pl-3;
}

.acc-search-bar {
 @apply w-full h-[44px] bg-white flex items-center px-4 rounded-[10px] shadow-md border-0 m-8;
  width: 95%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.acc-search-input {
  @apply p-2 rounded-lg px-2 py-1 border-none flex-1 bg-transparent focus:outline-none;

}

/*------------------------- USER TITLES --------------------------*/
.titles-container {
  @apply w-full h-[40px] flex items-center flex-col pt-3;
}
.header-info {
  @apply w-11/12 h-full grid grid-cols-[3fr_2fr_2fr_1fr] px-2;
}
.title-info {
  @apply text-black text-2xl font-bold;
}

/*------------------------- USER CONTENTS --------------------------*/
.users-container {
  @apply w-full h-full overflow-hidden overflow-y-auto flex flex-col items-center 
    transition-transform duration-500 ease-in-out;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.user-card {
  @apply w-11/12 grid grid-cols-[3fr_2fr_2fr_1fr] bg-white my-2 py-3 rounded-xl px-3 
    transition-transform duration-500 ease-in-out;
  border: 1px solid black;
}
.active-user-card {
  @apply w-[95%] grid grid-cols-[3fr_2fr_2fr_1fr] bg-gray-300 my-2 py-5 rounded-xl px-2 
    transition-transform duration-500 ease-in-out;
  border: 1px solid black;
}
.name-img-container {
  @apply flex flex-row items-center;
}

.admin-info {
  @apply text-xl text-black flex items-center;
}

.mini-avatar {
  @apply w-[40px] h-[40px] rounded-full mr-2;
}

.action-container {
  @apply flex flex-row justify-between w-1/2;
}

.setting-icon,
.chevron-icon {
  @apply w-[35px] h-[35px] transition-transform duration-500 cursor-pointer bg-transparent;
}

.active-user-card .chevron-icon {
  @apply w-[35px] h-[35px] transition-transform duration-500 cursor-pointer rotate-180;
}

/*------------------------- FOOTER PAGINATION AND ADD USER --------------------------*/
.acc-footer {
  @apply w-full h-[80px] flex flex-col;
}

.pagination-container {
  @apply w-full h-1/2 flex flex-row justify-between items-center px-5;
}

.add-user-container {
  @apply w-full h-1/2 flex justify-center items-center;
}

/* modal css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.modal-content h2 {
  margin-bottom: 0.5rem;
  @apply text-black font-[Poppins]
}

.modal .btn {
  padding: 0.5rem 1.2rem;
}

/* test */
.user-details-card {
  background-color: #f1f5f9;
  padding: 1rem 1.5rem;
  margin: 0 2rem 1rem 2rem;
  border-left: 4px solid #FFBF1A;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #333;
}

/* loading spinner */

.loading-overlay-accounts {
  @apply flex flex-col items-center justify-center pt-50;
}

.spinner {
  @apply w-14 h-14 border-4 border-[#FFBF1A]/30 border-t-[#FFBF1A] rounded-full animate-spin mb-4;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-overlay-accounts p {
  @apply text-black text-lg font-medium font-[Poppins]
}

/* loading spinner */
