@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@reference "tailwindcss";
@plugin "daisyui";

/*------------------------- MAIN CONTAINER --------------------------*/
.account-main-container {
  @apply font-[Poppins] p-3 flex flex-col h-full w-full bg-white;
}

/*------------------------- HEADER --------------------------*/
.account-header {
  @apply w-full h-[200px] p-1;
}

.account-title {
  @apply text-[40px] font-[Poppins] font-bold text-[#FFC916] h-[50px] pl-3 mt-3;
}

.acc-sub-header-container {
  @apply w-full h-auto flex flex-row justify-evenly items-center mt-3;
}

.filter-container {
  @apply w-full mt-3 px-6;
}


.add-acc-btn {
  @apply btn btn-warning w-[200px] h-[50px] text-white font-[Poppins] text-2xl;
  text-shadow: 1px 1px 0 #b0b0b0, 2px 2px 0 #888888, 3px 3px 2px #666666;
}

.acc-export-icon {
  @apply w-8 h-8;
}




/*------------------------- FOOTER PAGINATION AND ADD USER --------------------------*/
.acc-footer {
  @apply w-full h-[50px] flex flex-col justify-center items-center;
}

.pagination-container {
  @apply w-11/12 h-1/2 flex flex-row justify-between items-center px-5;
}




/*------------------------- FOR MODAL --------------------------*/
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  @apply fixed inset-0 flex justify-center items-center z-[1000];
}

.modal-content {
  @apply bg-white p-8 rounded-[10px] text-center max-w-[400px] w-[90%];
}

.modal-content h2 {
  @apply mb-2 text-black font-[Poppins];
}

.modal .btn {
  @apply py-2 px-5;
}











/*------------------------- FOR ADD ACCOUNT --------------------------*/


/*------------------------- MAIN CONTAINER --------------------------*/
.add-account-container {
  @apply w-full h-full flex flex-col items-center bg-white justify-center ;
}




/*------------------------- HEADER CONTAINER --------------------------*/
.add-account-header{
  @apply w-full h-[100px] flex flex-row px-5 items-center pt-4 pl-7;
}


/*------------------------- TITLE AND BACK BUTTON --------------------------*/
.add-account-title{
  @apply text-[40px] font-[Poppins] font-bold text-black ml-5;
}
.view-acc-btn{
  @apply w-[50px] h-[50px] text-white font-[Poppins] flex justify-center items-center rotate-90;
}
.view-acc-btn img{
  @apply w-2/5 cursor-pointer;
}



/*------------------------- CONTENTS CONTAINER --------------------------*/
.add-account-content{
  @apply flex-1 w-full;
}



.user-details-container h1{
  @apply text-black;
}

.profile-pic-container{
  @apply w-full h-1/2;
}

.profile-pic-table{
  @apply w-full h-full;
}


.profile-pic-cell{
  @apply w-4/12;
}

.img-container{
  @apply w-full h-full flex justify-center items-center;
}
.profile-pic-table img {
  @apply w-6/12 max-w-[320px] h-auto rounded-full border-amber-300 border-2;
}

.profile-pic-table img {
  @apply w-6/12 h-auto max-h-[300px] aspect-square rounded-full border-amber-300 border-2 object-cover;
}

.upload-photo-container{
  @apply flex flex-col w-full h-full justify-center;
}

.upload-btn-holder{
  @apply w-[300px] flex justify-center items-center flex-col;
}

.upload-photo-container label{
  @apply text-black text-sm mt-3 font-medium;
}



.user-details-container {
  @apply w-full h-1/2 gap-5 grid grid-cols-3 px-5;
  
}



.input-holder {
  @apply flex flex-col w-full;
}

.input-holder input, select {
  @apply w-full h-1/2 px-3 rounded-md border border-gray-300 
         focus:outline-none focus:ring-2 focus:ring-yellow-400 text-black;
}




.buttons-container{
  @apply h-[100px] w-full flex flex-row items-center justify-start pl-10;
}

