@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@reference "tailwindcss";
@plugin "daisyui";

.logs-main-container {
  @apply font-[Poppins] p-3 flex flex-col w-full bg-white;
  
  height: 100vh;         
  overflow-y: auto;      
  
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.logs-main-container::-webkit-scrollbar {
  width: 6px;
}

.logs-main-container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

.logs-main-container::-webkit-scrollbar-track {
  background: transparent;
}


.logs-header {
  @apply w-full h-auto p-1 ;
}

.logs-title {
  @apply text-[40px] font-[Poppins] font-bold text-[#FFC916] h-[50px] pl-3 mt-3;
}