@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@reference "tailwindcss";
@plugin "daisyui";

.logs-main-container{
    @apply w-full h-full bg-white overflow-y-auto;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

.logs-main-container::-webkit-scrollbar {
  width: 6px;
}

.logs-main-container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

.logs-main-container::-webkit-scrollbar-track {
  background: black;
}


.log-controls {
  @apply w-full h-auto flex flex-row justify-start items-center gap-4 mt-3;
}


.activity-logs-header {
  @apply w-full h-auto p-1 ;
}

.activity-logs-title {
  @apply text-[40px] font-[Poppins] font-bold text-[#FFC916] h-[50px] pl-3 mt-3;
}