@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@reference "tailwindcss";
@plugin "daisyui";

/* MAIN CONTAINER */
.main-container-reports{
    @apply w-full h-full flex flex-col rounded-xl;
}


/* REPORTS HADER */
.header-container-reports{
    @apply w-full h-[100px] bg-white rounded-xl p-5 sticky top-0;
}
.header-text-properties-reports{
    @apply text-[40px] font-[Poppins] font-bold text-[#FFD41C];
}


.data-main-container {
    scrollbar-width: none;
    @apply w-full h-[calc(100vh-120px)] mt-3 overflow-y-auto flex flex-col;
  }
  

.totalstudents-badges-container{
    @apply grid gap-4 grid-cols-1 place-items-center
    lg:grid-cols-2;
}

.totalstudents-badges-container-properties{
    @apply w-11/12 h-[400px] bg-white rounded-xl
    lg:w-full;
}

.world-reports-container {
    @apply grid grid-cols-1 gap-2 place-items-center flex-grow mt-3
        sm:grid-cols-2
        md:grid-cols-3
        lg:grid-cols-4
        xl:grid-cols-5;
}
  
/* to be change */
.world-reports-container-properties {
@apply aspect-[4/3] bg-white rounded-xl place-items-center sm:w-full 
    lg:aspect-[20/12] xl:aspect-[15/12];
}
  