@import "tailwindcss";
@plugin "daisyui";

.students-main-container{
  @apply p-3 flex flex-col h-full w-full bg-white;
}


.student-header{
  @apply w-full h-[150px] p-1;
}

.student-title{
  @apply text-[40px] font-[Poppins] font-bold text-[#FFD41C] h-[50px] pl-3 ;
}

.student-search-bar {
 @apply w-full h-[44px] bg-white flex items-center px-4 rounded-[10px] shadow-md border-0 m-8;
  width: 95%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.student-search-input{
  @apply p-2 rounded-lg px-2 py-1 border-none flex-1 bg-transparent focus:outline-none;
}






.student-titles-container{
  @apply w-full h-[40px] flex items-center flex-col pt-3;  
}
.student-header-info{
  @apply w-11/12 h-full grid grid-cols-[3fr_4fr_2fr_1fr] px-2;
}
.student-title-info{
  @apply text-black text-2xl font-bold;
}



.student-users-container{
  @apply w-full h-full overflow-hidden overflow-y-auto flex flex-col items-center;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.student-card{
  @apply w-11/12 grid grid-cols-[3fr_4fr_2fr_1fr] bg-white my-2 py-3 rounded-xl px-2 transition-transform duration-500;
    border: 1px solid black;
}

.active-student-card{
  @apply w-[95%] grid grid-cols-[3fr_4fr_2fr_1fr] my-2 py-3 rounded-xl px-2 transition-transform duration-500 bg-blue-500;
    border: 1px solid black;
}
.student-info{
  @apply text-xl text-black flex items-center;
}

.student-action-container{
  @apply flex flex-row justify-between w-3/4 ;
}

.active-student-card .chevron-icon{
  @apply rotate-180 transition-transform duration-500;
}

.student-progress-container{
  @apply w-full h-[220px] col-span-4 mt-4 grid grid-cols-5 gap-3 px-3;
}

.per-world-progress-card{
  @apply w-full h-full flex flex-col px-2 py-2;
}








.student-footer{
  @apply w-full h-[110px] flex flex-col;
}

.student-pagination-container{
  @apply w-full h-full flex flex-row items-start justify-between px-5;
}

/* loading spinner */

.loading-overlay-students {
  @apply flex flex-col items-center justify-center pt-50;
}

.spinner {
  @apply w-14 h-14 border-4 border-[#FFBF1A]/30 border-t-[#FFBF1A] rounded-full animate-spin mb-4;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-overlay-students p {
  @apply text-black text-lg font-medium font-[Poppins]
}

/* loading spinner */