@reference "tailwindcss";
@plugin "daisyui";

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* ------------------- ANIMATED LOGO ---------------------*/

@keyframes numindifyAnimation {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(20%);
  }
  50% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  80% {
    transform: scale(.8) translateY(-10%);
  }
  100% {
    opacity: 0;
    transform: scale(0.4) translateY(-200%);
  }
}



.logo-animated{
  animation: numindifyAnimation 3.5s ease-in-out forwards;
  animation-fill-mode: both;
  @apply w-screen h-screen max-h-[100svh] absolute top-0 left-0 z-50 flex justify-center items-center;
}

.mindifylogo{
  @apply w-1/2
  lg:w-2/5;
}

/********************************* END *******************************/




/* ------------------- MAIN CONTAINER ---------------------*/
.login-main-container{
    background-image: url('../../assets/background/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @apply w-screen h-[100svh] p-5 flex flex-row justify-center items-stretch;
}
/********************************* END *******************************/




/* ------------------- LEFT LOGO ---------------------*/
.logo-container {
    animation: fadeUp 2s ease-in forwards;
    animation-delay: 2.6s;
    animation-fill-mode: both;
    @apply hidden
    lg:w-[calc(65vw-20px)] lg:h-full lg:flex lg:flex-col lg:justify-center lg:items-center ;
  }



  
  
.logo {
  @apply w-[300px] max-w-[300px] min-w-[100px] h-auto
  lg:w-[500px] lg:max-w-[500px];
  
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  
.info {
    @apply w-4/5 h-auto text-base opacity-100 text-justify
    lg:text-2xl;
}

/********************************* END *******************************/




/* ------------------- LOGIN FORM RIGHT ---------------------*/
.login-form{
    animation: fadeUp 2s ease-in forwards;
    animation-delay: 2.5s;
    scrollbar-width: none;
    -ms-overflow-style: none;
    @apply opacity-0 w-full h-full bg-white flex flex-col items-center rounded-xl overflow-y-auto p-3
      lg:w-[calc(35vw-20px)];
}

.welcome-txt{
  @apply text-blue-600 text-3xl font-semibold;
}

.mini-txt{
  @apply text-black text-[14px] mb-3;
}


.nuLogo-container{
    @apply w-full h-[90px]  flex justify-center mb-3
    lg:h-[60px]
}

.nuLogo{
    @apply h-full;
}

.input-container {
  @apply w-4/5 flex flex-col flex-grow;
}


.inputs{
    border: 2px solid black;
    @apply w-full bg-white text-black h-[40px] my-[10px] px-2;
}

.spanner{
    @apply text-lg mt-[10px] bg-white text-black;
}

.remember-container{
    @apply w-full flex flex-row items-center;
}

.remember-txt{
    @apply  w-full text-black pl-2;
}

.checkbox{
    border: 1px solid black;
    @apply text-[8px] h-[20px] w-[20px] text-black;
}

.login-btn{
    @apply btn rounded-xl mt-[15px] h-[40px] bg-[#2F2F2F] text-white border-black 
      sm:btn-sm 
      md:btn-md 
      lg:btn-lg; 
}

/********************************* END *******************************/