@import "tailwindcss";
@plugin "daisyui";


.logo-animated{
  animation: numindifyAnimation 3.5s ease-in-out forwards;
  animation-fill-mode: both;
  @apply w-screen h-screen  absolute top-0 left-0 z-50 flex justify-center items-center;
}

.mindifylogo{
  @apply w-3/5;
}

.login-main-container{
    background-image: url('../../assets/background/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @apply w-screen h-screen p-5 flex flex-row justify-center items-center;
}




.logo-container {
    animation: fadeUp 2s ease-in forwards;
    animation-delay: 2.6s;
    animation-fill-mode: both;
    @apply hidden
    sm:w-[calc(50vw-20px)] sm:h-full sm:flex sm:flex-col sm:justify-center sm:items-center 
    lg:w-[calc(65vw-20px)] lg:h-full;
  }



  @keyframes numindifyAnimation {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(20%);
    }
    30% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    80% {
      transform: scale(1.05) translateY(-5%);
    }
    100% {
      opacity: 0;
      transform: scale(0.4) translateY(-200%);
    }
  }
  
  
  
.logo {
  @apply w-[300px] max-w-[300px] min-w-[100px] h-auto
  lg:w-[500px] lg:max-w-[500px];
  
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  
.info {
    @apply w-4/5 h-auto text-base opacity-100 text-justify
    lg:text-2xl;
}



.login-form{
    animation: fadeUp 2s ease-in forwards;
    animation-delay: 2.5s;
    @apply w-full h-full bg-white flex flex-col items-center rounded-xl 
    sm:w-[calc(50vw-20px)] sm:h-[calc(100vh-40px)] 
    lg:w-[calc(35vw-20px)] lg:h-[calc(100vh-40px)];
}

.welcome-txt{
  @apply text-blue-600 text-3xl font-semibold;
}

.mini-txt{
  @apply text-black text-[14px] mb-3;
}


.nuLogo-container{
    @apply w-full h-[150px] flex justify-center
}

.nuLogo{
    @apply h-full;
}

.input-container{
    @apply w-4/5 h-[calc(100vh-190px)] flex flex-col overflow-y-auto;
}

.inputs{
    border: 2px solid black;
    @apply w-full bg-white text-black h-[40px] my-[10px] px-2;
}

.spanner{
    @apply text-lg mt-[10px] bg-white text-black;
}

.remember-container{
    @apply w-full flex flex-row items-center;
}

.remember-txt{
    @apply  w-full text-black pl-2;
}

.checkbox{
    border: 1px solid black;
    @apply text-[8px] h-[20px] w-[20px] text-black;
}

.btn{
    @apply rounded-xl my-[15px] h-[40px] bg-[#2F2F2F] text-white border-black sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl; 
}