@reference "tailwindcss";
@plugin "daisyui";


.modal-overlay {
    @apply fixed inset-0 bg-black flex justify-center items-center z-[1000];
}

.add-term-main-container{
    @apply bg-white rounded-xl p-6 w-[1300px] max-w-[90%] shadow-[0_10px_25px_rgba(0,0,0,0.3)];
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.add-term-header{
    @apply flex justify-between items-center mb-6;
}

.close-btn{
    @apply w-[50px] h-[50px] flex items-center justify-center cursor-pointer rounded-full;
}

.close-btn:hover {
    box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.6); /* red glow */
}
  
.add-term-title{
    @apply font-[Poppins] text-[#FFD41C] font-bold text-[25px]
        md:text-[40px];
}




.add-term-contents{
    @apply space-y-4 mb-6;
}

.add-term-contents h1 {
   @apply block font-bold text-black mb-1;
  
}

.add-term-input{
    @apply text-[#000000] w-[400px] h-[50px] my-3 w-full;
}

.add-term-textarea{
    @apply text-[#000000] w-[400px] h-[350px] max-h-[350px] min-h-[100px] w-full h-40;
}



.create-container{
    @apply flex justify-center mb-6;
}

.create-btn{
    @apply w-[250px] h-[50px] p-0 cursor-pointer; 
}

.create-btn:hover{
    filter: brightness(1.2);
}

.add-term-icon-btn{
    @apply w-[250px] h-[50px];
}