@reference "tailwindcss";
@plugin "daisyui";

html, body{
    @apply m-0 p-0;
    box-sizing: border-box;
}

.edit-glossary-container{
    scrollbar-width: none;
    -ms-overflow-style: none;
    @apply w-full h-full overflow-hidden overflow-y-auto p-3 flex flex-col justify-center items-center;
}



.edit-header{
    @apply w-full h-[100px] flex flex-row justify-between p-5;
}

.back-btn {
    @apply cursor-pointer transition-shadow duration-200 rounded-full w-[50px] h-[50px];
}
  
.back-btn:hover {
box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.6); /* red glow */
}


.edit-title {
    @apply font-[Poppins] text-[#FFD41C] font-bold text-[25px]
        md:text-[40px];
}


.edit-content{
    @apply w-full h-[calc(100%-100px)] grid grid-cols-2 gap-1 place-items-center;
}







/* .edit-title-container{
    @apply text-black mb-4;
} */

.edit-input{
    border: 2px solid black;
    @apply w-[600px] h-[50px] max-h-[50px] min-h-[40px] my-3;
}
.edit-textarea{
    @apply w-[600px] h-[350px] max-h-[350px] min-h-[100px];
}

.save-btn{
    @apply w-[150px] h-[50px] min-h-[50px] min-w-[100px] btn btn-success cursor-pointer mt-3;
}

.delete-btn{
    @apply w-[150px] h-[50px] btn btn-error mt-4;
}