@reference "tailwindcss";
@plugin "daisyui";



.modal-overlay {
    background-color: rgba(105, 105, 105, 0.886);
    @apply fixed inset-0 flex justify-center items-center z-[1000];
}

.edit-glossary-container{
    @apply bg-white rounded-xl p-6 w-8/12 shadow-[0_10px_25px_rgba(0,0,0,0.3)];
}



.edit-header{
  @apply flex justify-between items-center;
}

.back-btn {
    @apply w-[50px] h-[50px] flex items-center justify-center cursor-pointer;
}
  

/* .back-btn:hover {
box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.6);
} */


.edit-title {
    @apply font-[Poppins] text-[#FFC916] font-bold text-[25px]
    md:text-[40px];
}


.edit-content{
   @apply flex flex-col gap-5 my-7 font-[Poppins];
}


.edit-content h1 {
   @apply block font-bold text-black mb-1;
  
}


.edit-input{
    border: 2px solid black;
    @apply w-full h-[60px] text-[#000000] my-3;
}
.edit-textarea{
    @apply w-full h-[250px] text-[#000000] max-h-[250px] min-h-[100px];
}

.edit-input,
.edit-textarea {
  @apply w-full rounded-md border border-gray-300 p-3 text-black;
}



.buttons{
    @apply flex justify-center items-center gap-6 ;
}

.save-btn{
    @apply w-[150px] h-[50px] min-h-[50px]  cursor-pointer mt-3;
}

.save-btn:hover{
    filter: brightness(1.1);
}

.delete-btn{
    @apply w-[150px] h-[50px] min-h-[50px] min-w-[100px] cursor-pointer mt-3;
}

.delete-btn:hover{
    filter: brightness(1.6);
}