@import "tailwindcss";
@plugin "daisyui";

html, body{
    @apply m-0 p-0;
    box-sizing: border-box;
}

.edit-glossary-container{
    scrollbar-width: none;
    -ms-overflow-style: none;
    @apply w-full h-full overflow-hidden overflow-y-auto p-3 flex flex-col justify-center items-center;
}



.edit-header{
    @apply w-full h-[100px] flex flex-row items-center justify-between;
}

.back-btn{
    @apply w-[50px] h-[50px] bg-red-500 cursor-pointer;
}

.edit-title {
    @apply font-[Poppins] text-[#FFD41C] font-bold text-xl
      md:text-4xl;
}


.edit-content{
    @apply w-full flex-grow grid grid-cols-1 gap-5
    md:grid-cols-2;
}





.edit-term-container{
    @apply w-full max-h-[calc(100vh-124px)]  flex flex-col p-2 bg-white rounded-xl;
}

.edit-title-container{
    @apply text-black mb-4;
}

.editable-container{
    border: 2px solid black;
    @apply bg-white rounded-md text-black min-h-[50px] h-auto p-2;
}

.save-btn{
    @apply w-[100px] h-[50px] min-h-[50px] min-w-[100px] bg-violet-800 cursor-pointer mt-3;
}