@reference "tailwindcss";
@plugin "daisyui";


/* ------------------- MAIN HEADER ---------------- */
.header {
  @apply w-full bg-white h-[calc(200px-66px)] rounded-xl flex flex-col items-center mb-3
    md:h-[200px];
}

/* ------------------- HEADER CONTENTS ---------------- */

.glossary-title-container {

  @apply w-full h-1/2 flex items-center pl-[40px] pt-8
    md:h-1/3;
}
.glossary-title {
  @apply font-[Poppins] text-[#FFD41C] font-bold text-xl 
    md:text-4xl;
}



.glossary-search-container {
  @apply w-full h-1/12 flex justify-center items-center pt-12 pb-8;
}

.search-bar-glossary {
  box-shadow: 2px 2px 5px rgb(99, 97, 97);
  @apply w-[95%] h-[50px] bg-white rounded-3xl flex items-center;
}

.search-btn-glossary {
  @apply w-[40px] h-full border-none cursor-pointer ml-1.5 flex justify-center items-center;
}

.search-input-glossary {
  @apply w-full h-full border-none outline-none pl-2 text-black;
}




.glossary-letters-btn-container {
  @apply hidden
    md:w-[90%] md:h-1/3  md:flex md:justify-around md:items-center md:min-w-[500px];
}

.navigator-buttons{
  @apply hover:underline font-semibold text-black cursor-pointer w-3.5 h-full;
}

.letter-title {
  @apply text-black text-xl my-2
  md:text-3xl 
  lg:text-[40px] ;
}


/* ***************************************************** */



/* ------------------- MAIN BODY ---------------- */

.glossary-body {
  @apply w-full h-[calc(100%-146px)] overflow-y-auto px-2 pb-28 rounded-xl bg-white pl-8 pr-8
    md:h-[calc(100%-212px)];
    margin-top: 20px;
    padding-bottom: 100px;
}

/* ***************************************************** */


/* ------------------- BODY CONTENTS ---------------- */

.header-details {
  border-bottom: 2px solid black;
  @apply grid grid-cols-[3fr_2.5fr_2fr] text-2xl mt-5 mb-3 font-medium text-black 
         bg-white sticky top-0 z-50 h-[60px] items-center ;
  
}

.header-title {
  @apply w-full text-sm pl-2 md:text-xl text-black font-medium;
}




.per-letter-main-container {
  @apply w-full px-1.5 mb-3 scroll-mt-[20px];
}


.all-word-def-container {
  @apply w-full flex flex-col justify-center items-center;
}




/* Non-active word container */
.per-word-container {
  border: 1px solid black;
  @apply w-full flex justify-between items-center mb-2 rounded-xl px-1 hover:bg-gray-100
}

.active-per-word-container {
  border: 1px solid black;
  @apply w-full h-auto max-h-[2000px] flex justify-center items-center mb-2 rounded-xl px-1 bg-[#35408E] 
    md:h-auto;
  transition: max-height 0.5s ease-in-out, background-color 0.3s ease-in-out, transform 5s ease-in-out;
  transform: scale(1); 
}

.active-per-word-container.active {
  transform: scale(1.05); 
}




.word-container {
  text-overflow: ellipsis;
  @apply flex-1 h-full text-black text-base whitespace-nowrap overflow-hidden p-2;
}

.active-per-word-container .word-container {
  @apply h-auto overflow-visible text-white;
  white-space: normal; 
}



.meaning-container {
  text-overflow: ellipsis;
  @apply flex-1 h-full text-black text-base whitespace-nowrap overflow-hidden p-2;
}


.active-meaning-container {
  @apply flex-1 max-h-[1000px] text-base overflow-hidden p-2 flex items-center text-white;
}


.action-container {
  @apply w-4/12 h-full flex justify-around items-center p-2;
}

.active-per-word-container .gege{
  @apply h-auto text-white;
  
}



.editIcon {
  @apply w-[20px] h-[20px] cursor-pointer 
    md:w-[25px] md:h-[25px];
}

.active-per-word-container .editIcon{
  filter: invert(1); 
}

.dropdown {
  @apply w-[20px] h-[20px] flex justify-center items-center rounded-md bg-gray-300
    md:w-[30px] md:h-[30px]; 
}

.action-container {
  @apply w-4/12 h-full flex;
}

.icon-group {
  @apply flex gap-x-10 pl-15;
}

/* ***************************************************** */

.glossary-footer {
  position: sticky;
  bottom: 0;
  z-index: 50;
  background-color: white;
  height: 55px; 
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-term-btn {
  @apply w-full py-2 px-6 flex justify-center items-center rounded-lg bg-[#FFC300] text-white 
  transition-all duration-500 ease-in-out absolute bottom-2 left-1/2 transform -translate-x-1/2 font-medium; 
  width: auto; 
}

.add-term-btn:hover {
  background-color: #FFB100;
  filter: brightness(1.2);
}
