@reference "tailwindcss";
@plugin "daisyui";

/* ------------------- MAIN HEADER ---------------- */
.header {
  @apply w-full bg-white h-auto rounded-xl flex flex-col items-center pt-3 px-3;
}

/* ------------------- HEADER CONTENTS ---------------- */
.glossary-title-container {
  @apply w-full h-[60px] flex items-center;
}

.glossary-title-container h1 {
  @apply font-[Poppins] text-black font-bold text-[25px] pl-3 md:text-[40px] mt-3;
}

.glossary-sub-header-container {
  @apply w-full h-auto flex flex-row justify-evenly items-center mt-3 px-1;
}


.glossary-letters-btn-container {
  @apply hidden md:w-[90%] md:h-[80px] md:flex md:justify-around md:items-center md:min-w-[500px];
}

.navigator-buttons {
  @apply hover:underline font-semibold text-black cursor-pointer w-3.5 h-full;
}

.letter-title {
  @apply text-black text-xl my-2 md:text-3xl lg:text-[40px];
}

/* ------------------- MAIN BODY ---------------- */
.glossary-body {
  @apply w-full h-[calc(100%-146px)] overflow-y-auto px-2 rounded-xl bg-white md:h-[calc(100%-212px)] mt-5 pb-[100px];
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.glossary-body::-webkit-scrollbar {
  width: 6px;
}

.glossary-body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

.glossary-body::-webkit-scrollbar-track {
  background: black;
}
/* ------------------- BODY CONTENTS ---------------- */

.header-details-container{
  @apply w-full flex justify-center items-center mt-2 sticky top-0 z-50;
}

.header-details {
  @apply grid grid-cols-[1.5fr_3fr_1fr] text-2xl font-medium text-black 
  bg-white h-[60px] items-center border-b-2 border-black w-11/12;
}

.header-title {
  @apply w-full text-sm md:text-xl text-black font-medium pl-3;
}

.per-letter-main-container {
  @apply w-full px-1.5 mb-3 scroll-mt-[20px];
}

.all-word-def-container {
  @apply w-full flex flex-col justify-center items-center;
}

/* Non-active word container */
.per-word-container {
  @apply w-11/12 grid grid-cols-[1.5fr_3fr_1fr] items-center mb-2 rounded-xl px-1 py-2 hover:bg-gray-600 border-2 border-black;
    @apply transform scale-100 transition-transform duration-300 ease-in-out;
}
.active-per-word-container {
  @apply w-11/12 h-auto grid grid-cols-[1.5fr_3fr_1fr] items-center mb-2 rounded-xl px-1 py-2 bg-[#35408E] border-2 border-black;
  @apply transition-transform duration-300 ease-in-out transform scale-108;

}

.per-word-container:hover .word-container,
.per-word-container:hover .meaning-container {
  @apply text-white;
}

.per-word-container:hover .action-container{
  filter: invert(1) brightness(2) contrast(100);
}






.word-container {
  @apply flex-1 h-full text-black text-base whitespace-nowrap overflow-hidden text-ellipsis p-2;
}

.active-per-word-container .word-container {
  @apply h-auto text-white overflow-visible whitespace-normal;
}

.meaning-container {
  @apply flex-1 h-full text-black text-base whitespace-nowrap overflow-hidden text-ellipsis p-2;
}

.active-meaning-container {
  @apply flex-1 max-h-[1000px] text-base overflow-hidden p-2 flex items-center text-white;
}




.action-container {
  @apply w-full h-full flex justify-around items-center pl-3;
}




.dropdown {
  @apply flex justify-center items-center transition-transform duration-300 ease-in-out cursor-pointer transform;
}

.active-dropdown {
  @apply transition-transform duration-300 ease-in-out cursor-pointer transform rotate-180;
}

.editIcon {
  @apply cursor-pointer w-[25px] h-[25px];
}


.per-word-container button img{
  @apply w-[40px] aspect-square;
}

.active-per-word-container button img{
  @apply w-[40px] aspect-square;
  filter: invert(1) brightness(2) contrast(100);
}







