@reference "tailwindcss";
@plugin "daisyui";


/* ------------------- MAIN HEADER ---------------- */
.header {
  @apply w-full bg-white h-[calc(200px-66px)] rounded-xl flex flex-col items-center mb-3
    md:h-[200px];
}

/* ------------------- HEADER CONTENTS ---------------- */

.glossary-title-container {

  @apply w-full h-1/2 flex items-center pl-[40px] 
    md:h-1/3;
}
.glossary-title {
  @apply font-[Poppins] text-[#FFD41C] font-bold text-xl 
    md:text-4xl;
}



.glossary-search-container {
  @apply w-full h-1/2 flex justify-center items-center
    md:h-1/3;
}

.search-input{
  @apply w-3/4;
}



.glossary-letters-btn-container {
  @apply hidden
    md:w-[90%] md:h-1/3  md:flex md:justify-around md:items-center md:min-w-[500px];
}

.navigator-buttons{
  @apply hover:underline font-semibold text-black cursor-pointer w-3.5 h-full;
}

.letter-title {
  @apply text-black text-xl my-2
  md:text-3xl 
  lg:text-[40px] ;
}


/* ***************************************************** */



/* ------------------- MAIN BODY ---------------- */

.glossary-body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  @apply w-full h-[calc(100%-146px)] overflow-y-auto px-2 pb-2 rounded-xl bg-white
    md:h-[calc(100%-212px)];
}

/* ***************************************************** */


/* ------------------- BODY CONTENTS ---------------- */

.header-details {
  border-bottom: 2px solid black;
  @apply grid grid-cols-3 text-2xl mt-2 font-medium text-black bg-white sticky top-0 z-50;
}

.header-title {
  @apply w-full text-sm pl-2
    md:text-xl;
}





.per-letter-main-container {
  @apply w-full px-1.5 mb-3 scroll-mt-[20px];
}


.all-word-def-container {
  @apply w-full flex flex-col justify-center items-center;
}




/* Non-active word container */
.per-word-container {
  border: 1px solid black;
  @apply w-full flex justify-between items-center mb-2 rounded-xl px-1;
}

.active-per-word-container {
  border: 1px solid black;
  @apply w-full h-auto max-h-[2000px] flex justify-center items-center mb-2 rounded-xl px-1 bg-[#35408E] 
    md:h-auto;
}



.word-container {
  text-overflow: ellipsis;
  @apply flex-1 h-full text-black text-base whitespace-nowrap overflow-hidden p-2;
}

.active-per-word-container .word-container {
  @apply h-auto overflow-visible text-white;
  white-space: normal; 
}



.meaning-container {
  text-overflow: ellipsis;
  @apply flex-1 h-full text-black text-base whitespace-nowrap overflow-hidden p-2;
}


.active-meaning-container {
  @apply flex-1 max-h-[1000px] text-base overflow-hidden p-2 flex items-center text-white;
}


.gege {
  @apply w-4/12 h-full flex justify-around items-center p-2;
}

.active-per-word-container .gege{
  @apply h-auto text-white;
}




.editIcon {
  @apply w-[20px] h-[20px] cursor-pointer 
    md:w-[25px] md:h-[25px];
}

.active-per-word-container .editIcon{
  filter: invert(1); 
}


.dropdown {
  @apply w-[20px] h-[20px] flex justify-center items-center rounded-md bg-gray-300
    md:w-[30px] md:h-[30px]; 
}

/* ***************************************************** */
