@reference "tailwindcss";

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.5rem;
  position: relative;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .row label {
    width: 30%;
    flex: 0 0 auto;
  }
  .row input,
  .row select,
  .row textarea {
    width: 70%;
    flex: 0 0 auto;
  }
}
input,
select,
textarea {
  @apply border border-black/20 rounded-lg p-1 px-3;
}
.row label {
  margin: auto;
}