@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@reference "tailwindcss";
@plugin "daisyui";

*{
  @apply text-black;
}


html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


.campus-main-container {
  @apply font-[Poppins] p-3 flex flex-col w-full bg-white;
  min-height: 100%;
  height: auto;
  padding-bottom: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.campus-header{
  @apply w-full h-auto p-1
}

.campus-form-container {
  @apply border border-gray-500 p-6 rounded-md w-full mt-6;
}

.form-title {
  @apply text-sm font-bold mb-2;
}

.required-label::after {
  content: ' *';
  @apply text-red-500 font-bold;
}

.form-row {
   @apply flex flex-row gap-6 w-full;
}

.input-group {
  @apply flex flex-col w-full;
}

.input-group label {
  @apply font-medium mb-1 text-black text-sm md:text-base;
}

.input-group input {
  @apply p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-400 text-sm md:text-base;
}

.button-row {
  @apply flex justify-center gap-5 mt-6;
}



.branches-list-container {
 @apply w-full flex-grow;
  
}

.campus-scroll-container {
  @apply overflow-x-auto overflow-y-auto;
  max-height: 400px;
  max-height: calc(400px - 10px);
  padding-bottom: 80px;
  box-sizing: border-box;
}



.branch-card {
  @apply text-black;
}

.campus-card div {
  @apply text-sm md:text-[17px];
}


.campus-scroll-container {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}


@media (max-width: 768px) {
  .campus-main-container {
    padding: 1rem;
  }
  .form-row {
    flex-direction: column;
  }
  .button-row {
    flex-direction: column;
    gap: 0.5rem;
  }
  .campus-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

