@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/*margin / padding: top right bottom left*/

.main-cont-prof-settings{
    width: 100%;
    height: var(--content-container-height);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    /* background: gray; */
  }
  
.header-container-prof-settings {
  height: var(--profile-settings-header-height);
  
  /* background: purple; */
}
  
.header-text-prof-settings {
  margin: 0 0 0 var(--spacing);
  padding : var(--spacing) 0 0 0;
  font-size: 35px;
  font-family: Poppins;
  font-weight: bold;
  color: #FFD41C;
}
  
.content-container-prof-settings {
  width: 100%;
  height: var(--profile-settings-body-height);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
  background: white;
}

.avatar-edit-container-prof-settings{
  width: 100%;
  height: var(--profile-settings-avatar-edit-container-height);
  display: flex;
  flex-direction: flex-start;

  /* background: lightgreen; */
}

.avatar-container-prof-settings{
  width: 305px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.60) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  margin: -150px 0 0 80px;

  background: white;
}

.avatar-dimensions {
  border-radius: 100%;
  width: 260px;
  height: 260px;
}

.edit-btn-container-prof-settings{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;

  /* background: orange; */
}

.edit-btn-properties{
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-family: Poppins;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.username-container-prof-settings{
  width: 485px;
  height: var(--username-container-prof-settings-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  padding-top: 20px;

  /* background: pink */
}

.username-properties{
  color: black;
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
}

.forms-container-prof-settings{
  width: 100%;
  height: var(--forms-container-prof-settings-height);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  /* background: purple; */
}

.forms-container-1{
  width: 100%;
  height: var(--profile-settings-avatar-edit-container-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0 0 0px;

  /* background: coral; */
}

.forms-container-2{
  width: 100%;
  height: var(--profile-settings-avatar-edit-container-height);
  display: flex;
  flex-direction: flex-start;
  margin-top: 30px;

  /* background: burlywood; */
}

.forms-properties{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 85px;

  /* background: gray; */
}

.forms-label-properties{
  color: black;
  font-family: Poppins;
  padding: 0 0 10px 0;
}

.input-properties{
  border: 1px solid black;
  border-radius : 10px;
  width: 100%;
  height: 70px;
  color: black;
  font-family: Poppins;
  font-size: 18px;
  padding: 0 0 0 10px;
}