@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@reference "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-cont-prof-settings {
  scrollbar-width: none;
  -ms-overflow-style: none;
  @apply w-full h-full flex flex-col overflow-y-auto;
}

.header-container-prof-settings {
  @apply w-full h-[120px] pl-6 pt-3;
}

.header-text-prof-settings {
  @apply text-2xl font-[Poppins] font-bold text-[#FFD41C]
    md:text-[40px];
}

.content-container-prof-settings {
  @apply w-full flex-grow rounded-xl flex flex-col bg-white mt-[100px] py-5
    md:mt-[100px];
}

.avatar-edit-container-prof-settings {
  @apply w-full flex flex-col px-4 gap-0.5 mb-[10px]
    lg:flex-row lg:px-8 lg:mb-5;
}

.avatar-container-prof-settings {
  @apply max-w-2xs flex flex-col items-start justify-center px-4 py-4 mt-[-80px] 
    md:w-full md:mt-[-110px];
}

.avatar-dimensions {
  border: 12px solid white;
  box-shadow: 0 0 0 2px #facc15;
  @apply w-[200px] h-[200px] lg:w-[250px] lg:h-[250px] object-cover rounded-full;
}

.edit-btn-container-prof-settings {
  @apply w-full h-auto flex items-start flex-col
    lg:w-full lg:ml-5 lg:mt-3;
}

.edit-btn-prof-settings {
  @apply w-full h-auto flex justify-center items-center flex-row
    lg:w-full gap-5 lg:mt-5 lg:justify-center;
}

.disabled-btn {
  background-color: #d3d3d3; /* Light gray background */
  color: #a9a9a9; /* Light gray text */
  border: 1px solid #a9a9a9; /* Light gray border */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}

.edit-btn-properties {
  @apply w-[250px] h-[60px] focus:outline-none text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-lg px-5 py-2 me-2 mb-2 dark:focus:ring-yellow-900 cursor-pointer font-[Poppins]
    md:w-[250px]
    lg:w-[250px];
}
.edit-btn-properties-disabled {
  @apply w-[250px] h-[60px] focus:outline-none text-black bg-yellow-400  focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-lg px-5 py-2 me-2 mb-2 dark:focus:ring-yellow-900 cursor-not-allowed font-[Poppins]
    md:w-[250px]
    lg:w-[250px];
}

.username-properties {
  @apply mt-8 text-base font-semibold text-center text-gray-800 font-[Poppins]
    sm:text-xl
    md:text-4xl;
}

.forms-container {
  @apply mr-8 ml-8 mb-10 p-4 grid grid-cols-1 gap-10 items-start 
    md:grid-cols-2 
    lg:grid-cols-3;
}

.forms-properties {
  @apply w-full flex flex-col;
}

.forms-label-properties {
  @apply text-black font-[Poppins] mb-1 text-xs;
}


/* .input-properties {
  border: 1px solid black;
  @apply max-w-xs h-[30px] pl-3 rounded-full text-black text-[16px] bg-white font-[Poppins];
} */

.input-properties-disabled {
  background-color: white !important;
  border: 2px solid black !important;
  box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 1);
  @apply w-full h-[70px] pl-4 text-gray-800 text-[16px] font-[Poppins] rounded-xl cursor-not-allowed;
}


/* .input-properties-disabled {
  border: 1px solid gray;
  @apply w-full h-[70px] pl-4 text-gray-800 text-[16px] font-[Poppins];
} */

.save-btn-container-profile-settings {
  @apply w-full h-full flex justify-center items-center flex-col mt-5 
    lg:w-[300px] lg:ml-8 lg:justify-start;
}

.cancel-btn-properties-profile-settings {
  border: 1px solid black;
  @apply w-3/4 h-8 rounded-3xl text-black font-[Poppins] font-bold text-sm cursor-pointer mt-3 shadow-md
    md:w-7/12
    lg:w-10/12 lg:h-1/6;
}

.save-btn-properties-profile-settings {
  border: 1px solid black;
  @apply w-3/4 h-8 rounded-3xl text-black font-[Poppins] font-bold text-sm cursor-pointer mt-3 shadow-md
    md:w-7/12
    lg:w-10/12 lg:h-1/6;
}

/* modal css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.modal-close-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* loading */
.spinner-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px; /* match avatar size */
  height: 140px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #ff9800;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}