@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/*margin / padding: top right bottom left*/

.main-cont-prof-settings{
  scrollbar-width: none;
  -ms-overflow-style: none;
  @apply w-full h-full flex flex-col rounded-xl overflow-y-auto overflow-hidden;
}



  
.header-container-prof-settings {
  @apply w-full h-[200px] pl-6 pt-3;
}
  
.header-text-prof-settings {
  @apply text-4xl font-[Poppins] font-bold text-[#FFD41C];
}





  
.content-container-prof-settings {
  @apply w-full h-auto mt-[100px] rounded-xl flex flex-col bg-white;
}

.avatar-edit-container-prof-settings {
  @apply w-full h-auto flex flex-col px-4 gap-0.5
  md:flex-row md:px-8 ;
}

.avatar-container-prof-settings {
  @apply w-full  h-auto flex flex-col items-center justify-center mt-[-60px] px-4 py-4
    sm:mt-[-80px]
    md:w-auto md:mt-[-100px]
    lg:mt-[-100px] ;
}

.avatar-dimensions {
  border: 5px solid white;
  @apply w-[200px] h-[200px] 
    md:w-[250px] md:h-[250px]
    object-cover rounded-full;
}

.edit-btn-container-prof-settings {
  @apply w-full h-full flex justify-center items-center flex-col mt-5
  md:w-[300px] md:ml-8 md:justify-start;
}

.edit-btn-properties {
  border: 1px solid black;
  @apply w-3/4 rounded-3xl text-black font-[Poppins] font-bold text-sm cursor-pointer mt-3
  md:w-10/12 h-8 md:h-1/6;
}

.username-properties {
  @apply mt-4 text-base font-semibold text-center text-gray-800
  sm:text-lg 
  md:text-xl 
  lg:text-2xl;
}




.forms-container{
  @apply h-auto grid grid-cols-1 gap-6 p-4 w-full items-start overflow-hidden
  md:grid-cols-2 
  lg:grid-cols-3;
}

.forms-properties {
  @apply w-full flex flex-col;
}


.forms-label-properties{
  @apply text-black font-[Poppins];
}

.input-properties{
  border: 1px solid black;
  @apply rounded-xl w-full h-[60px] text-black font-[Poppins] text-[16px] bg-white pl-3;
}

.forms-label-properties{
  @apply text-black font-[Poppins] ;
}
