@import "tailwindcss";
@plugin "daisyui";


* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}


/*----- CONTAINER GOD -----*/

.main-container {
    background-image: url('../src/assets/background/pattern.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    @apply w-[100svw] h-[100svh] p-3 flex flex-col overflow-hidden
    md:flex-row;
}
  
/********************************/



/*----- SIDE MENU CONTAINER -----*/

.side-menu {
    border-radius: 10px;
    overflow: visible;
    scrollbar-width: none;
    @apply w-10 h-10 bg-white transition-all duration-300 ease-in-out flex justify-center items-center mb-2
    md:w-[50px] md:h-full md:pt-3 md:p-0 md:block;

}
  
.active-side-menu{
    @apply absolute top-0 left-0 z-[999] bg-white pt-3 overflow-hidden transition-all duration-300 ease-in-out 
    w-[calc(100svw-24px)] h-[calc(100svh-24px)] m-3
    md:w-[250px] md:min-w-[250px] md:h-full md:rounded-xl md:flex md:flex-col md:static;

    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.active-side-menu::-webkit-scrollbar {
    display: none;
}

/********************************/



/*----- BUTTON MAIN CONTAINER -----*/

.btn-container {        
    @apply hidden w-[50px] h-[50px] mt-0
    md:flex md:mt-1.5 md:items-center md:transition-all md:duration-300 md:ease-in-out;
}
    
.btn-container:hover{
   @apply bg-[#FFEFBA];
}

.active-btn-container{        
    @apply w-full h-[45px] flex bg-transparent justify-start items-center transition-all duration-300 ease-in-out;
}

.active-btn-container:hover{
    @apply bg-[#FFEFBA];
}


.selected{
    @apply bg-[#FFEFBA];
}

.selected .active-btn-txt{
    filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.selected .active-mainIcon{
    filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);

}

.selected .mainIcon {
    filter: invert(70%) sepia(100%) saturate(350%) hue-rotate(1deg) brightness(100%) contrast(85%);
}


/********************************/


/*----- THE BUTTON -----*/

.btn-icon {
    @apply w-[30px] ml-0 flex justify-center items-center cursor-pointer
    md:ml-[10px];
}

.btn-icon:hover .mainIcon{
    filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.active-btn-icon{
    @apply flex items-center cursor-pointer;
}

.active-btn-icon:hover .active-mainIcon{
    filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.active-btn-icon:hover .active-btn-txt{
    filter: invert(66%) sepia(96%) saturate(350%) hue-rotate(1deg) brightness(105%) contrast(105%);
}


/********************************/


/*----- AVATAR AND NAME AND EMAIL -----*/

.avatar{
    @apply w-full flex justify-center items-center;

}

.avatar-container{
    @apply w-1/2 rounded-full shadow-[0_0_0_4px_red] outline-red-500 ;
}

.name-container{
    @apply w-full flex flex-col justify-center items-center mt-0.5;
}
.user-name{
    @apply text-xl font-bold text-amber-500;
}

.user-email{
    @apply text-xs text-gray-500 font-medium mb-1;
}

/********************************/




/*----- BUTTON ICON AND TEXT -----*/

.mainIcon {
    @apply w-[20px] cursor-pointer overflow-hidden max-w-[20px];
}

.active-mainIcon{
    @apply w-[20px] cursor-pointer overflow-hidden max-w-[20px] ml-3;
}

.active-btn-txt{

    @apply text-black ml-1.5 text-[15px];
}

/********************************/


/*----- CONTENTS CONTAINER -----*/

.content-container{
    background-color: rgba(157, 200, 243, 0.3);
    @apply w-full h-full rounded-xl overflow-hidden
    md:w-full md:ml-3 ;
}

.active-content-container{
    background-color: rgba(157, 200, 243, 0.3);
    @apply w-full h-full ml-3  rounded-xl overflow-hidden;
}
/********************************/